/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

/* Import TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* React Modal default styling */
.ReactModal__Overlay {
  background-color: transparent !important;
  backdrop-filter: blur(8px);
  transform: scale(0);
  transition: all 0.25s ease-in-out;
}

.ReactModal__Overlay--after-open {
  transform: scale(1);
}

.ReactModal__Overlay--before-close {
  transform: scale(0);
}

.ReactModal__Content {
  position: absolute;
  left: 0;
  right: 0;
  height: 512px;
  top: 50%;
  transform: translateY(-50%);
}
